name: Development branches

on:
  push:
    branches:
      - '*'
      - '**/*'
      - '!master'
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build and run tests
    steps:
      # Checkout the code
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Expose branch name
        run: echo ${{ github.ref }}

      # Setup JDK and Maven
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: zulu
          cache: maven

      # Prepare
      - name: Prepare Maven Wrapper
        run: chmod +x ./mvnw

      # Build and integration test
      - name: Build with Maven
        run: ./mvnw clean verify -U -B -T4 -ntp

      - name: Upload coverage to Codecov
        if: github.event_name == 'push' && github.actor != 'dependabot[bot]'
        uses: codecov/codecov-action@v3
        with:
          token: ${{secrets.CODECOV_TOKEN}}

      - name: Upload test coverage to Codacy
        if: github.event_name == 'push' && github.actor != 'dependabot[bot]'
        run: bash <(curl -Ls https://coverage.codacy.com/get.sh)
        env:
          CODACY_PROJECT_TOKEN: "${{secrets.CODACY_PROJECT_TOKEN}}"
